@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@media screen and (max-width: 640px) {
  table {
    border: 0;
  }

  thead {
    display: none;
  }

  tbody tr {
    display: block;
    margin-bottom: 1rem;
    border: 1px solid #e5e7eb;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;
  }

  tbody td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
    font-size: 0.95rem;
    border: none;
  }

  tbody td::before {
    content: attr(data-label);
    font-weight: 500;
    color: #6b7280; /* Tailwind gray-500 */
    text-align: left;
    margin-right: 1rem;
  }
}
